<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} | {{ site.workshop_name }} by Make on the Lake</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="http://make-on-the-lake.github.io/workshop-repo-boilerplate/theme/normalize.css" media="screen">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700">
  <link rel="stylesheet" type="text/css" href="http://make-on-the-lake.github.io/workshop-repo-boilerplate/theme/stylesheet.css" media="screen">
  <link rel="stylesheet" type="text/css" href="http://make-on-the-lake.github.io/workshop-repo-boilerplate/theme/github-light.css" media="screen">
  <link rel="stylesheet" type="text/css" href="http://make-on-the-lake.github.io/workshop-repo-boilerplate/assets/css/style.css" media="screen">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>
